{% extends 'home.html' %}

{% block title %}Update_Receipe - My Website{% endblock %}
{% block content %}

<body class="bg-dark text-white">
    <div class="comtainer mt-5">
        <form class="col-8 mx-auto card shadow-lg p-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Update_Receipe</h2>
            <hr>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Receipe_name</label>
              <input type="text" name="Receipe_name" value="{{context.Receipe_name}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Receipe_discription</label>
                <textarea class="form-control" name="Receipe_discription" id="exampleFormControlTextarea1" rows="3">{{context.Receipe_discription}}</textarea>
              </div>
              <div class="mb-3">
                <label for="formFile" class="form-label">Receipe_images</label>
                <input class="form-control" name="Receipe_images" type="file" id="formFile">
              </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
    </div>
  
{% endblock %}